HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
*.jar
*.sw?
*~
.#*
*.log
.*.md.html
.DS_Store
.gradle
.metadata
.recommenders
MANIFEST.MF
_site/
build.log
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/logs/
/nbdist/
/.nb-gradle/
build/
/code

### VS Code ###
.vscode/
